.formbox {
	max-width: 80%;
	width: 800px; 
	background-image: url("congruent_pentagon.png");
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}