body {
  margin: 0;
  padding: 0;
  background: rgb(0,166,141);
  background: linear-gradient(90deg, rgba(0,166,141,1) 0%, rgba(10,176,241,1) 100%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
	cursor: pointer;
}
